<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<!--
	## 
	## To find Version, PublicKeyToken use Powershell below
	## 
	##   PS C:\Users\chump> ([system.reflection.assembly]::loadfile("D:\Projects\NET\nuget\nuget.projects\References\NewtonSoft.Json.dll")).FullName
	##   Newtonsoft.Json, Version=13.0.0.0, Culture=neutral, PublicKeyToken=30ad4fe6b2a6aeed	
	## 
	-->
	<runtime>
		<LegacyUnhandledExceptionPolicy enabled="true"/>
		<NetFx40_LegacySecurityPolicy enabled="true"/>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<!-- Report Viewer Common -->
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0"/>
			</dependentAssembly>
			<!-- Report Viewer Design -->
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.ReportViewer.Design" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0"/>
			</dependentAssembly>
			<!-- Report Viewer WinForms -->
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.ReportViewer.WinForms" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>