<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<!--
	## 
	## To find Version, PublicKeyToken use Powershell below
	## 
	##   PS C:\Users\chump> ([system.reflection.assembly]::loadfile("D:\Projects\NET\nuget\nuget.projects\References\NewtonSoft.Json.dll")).FullName
	##   Newtonsoft.Json, Version=13.0.0.0, Culture=neutral, PublicKeyToken=30ad4fe6b2a6aeed	
	## 
	-->
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<!-- SQLitePCLRaw.core -->
			<dependentAssembly>
				<assemblyIdentity name="SQLitePCLRaw.core" publicKeyToken="1488e028ca7ab535" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.1.2.1721" newVersion="2.1.2.1721" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>